<!DOCTYPE html>
html(lang="ru")
head
	meta(charset="UTF-8")
	meta(name="description" content="Друкарня Прайм Прiнт")
	meta(name="viewport" content="width=device-width, initial-scale=1.0")
	link(rel="stylesheet" type="text/css" href="css/reset.css")
	link(rel="stylesheet" type="text/css" href="css/style.css")
	link(rel="stylesheet" type="text/css" href="css/fonts.css")
	link(rel="shortcut icon" href="favicon.png")
	title Друкарня Прайм Прiнт
body
	aside
		img(src="img/logo.png", width="228" height="85" alt="Логотип Prime Print")
		ul.first
			li
				a(href="#") Продукція
			li
				a(href="#") Послуги
			li
				a(href="#") Наші роботи
			li
				a(href="#") Блог
			li
				a(href="#") Вимоги до макетів
			li
				a(href="#") Обладнання
			li
				a(href="#") Онлайн-заявка
			li
				a(href="#") Контакти
			li
				a(href="#") Вакансії
			li
				a(href="#") Про компанію
		.bottom_pane
			.languages
				a(href="#ua").active Укр
				a(href="#ru") Рос
			.social
				a(href="#instagram")
					//- img(src="img/social_icons/Instagram_icon.svg")
				a(href="#facebook")
					//- img(src="img/social_icons/Facebook_icon.svg")
	main
		p.delivery_info Доставка продукції по місту здійснюється нашим кур'єром, а в регіони за допомогою «Нової Пошти»
		.item-container
			.item.vcard
				//- Візитки
				.image
					//- Сама картинка
					a(href="#blog_link")
						img(src="img/info-icon.svg", alt="")
						span Про продукцію
					//- img(src="img/products/jealous-sweets-slideshow-2.png", width="246" height="" alt="")
				p Візитки
				a.button(href="#calc")
					//- Кнопка
					img(src="img/сalculator_icon.svg", alt="")
					span Калькулятор вартостi
			.item.flyer
				.image
					a(href="#blog_link") Про продукцію
					img(src="img/products/jealous-sweets-slideshow-2.png", width="246" height="" alt="")
				p Test
				a(href="#calc") Калькулятор вартості
			.item.listivki
				.image
					a(href="#blog_link") Про продукцію
					img(src="img/products/jealous-sweets-slideshow-2.png", width="246" height="" alt="")
				p Test 2
				a(href="#calc") Калькулятор вартості
			.item
				.image
					a(href="#blog_link") Про продукцію
					img(src="img/products/jealous-sweets-slideshow-2.png", width="246" height="" alt="")
			.item
				.image
					a(href="#blog_link") Про продукцію
					img(src="img/products/jealous-sweets-slideshow-2.png", width="246" height="" alt="")
			.item
				.image
					a(href="#blog_link") Про продукцію
					img(src="img/products/jealous-sweets-slideshow-2.png", width="246" height="" alt="")
			.item
				.image
					a(href="#blog_link") Про продукцію
					img(src="img/products/jealous-sweets-slideshow-2.png", width="246" height="" alt="")
			.item
				.image
					a(href="#blog_link") Про продукцію
					img(src="img/products/jealous-sweets-slideshow-2.png", width="246" height="" alt="")
			.item
				.image
					a(href="#blog_link") Про продукцію
					img(src="img/products/jealous-sweets-slideshow-2.png", width="246" height="" alt="")
			.item
				.image
					a(href="#blog_link") Про продукцію
					img(src="img/products/jealous-sweets-slideshow-2.png", width="246" height="" alt="")
			.item
				.image
					a(href="#blog_link") Про продукцію
					img(src="img/products/jealous-sweets-slideshow-2.png", width="246" height="" alt="")
			.item
				.image
					a(href="#blog_link") Про продукцію
					img(src="img/products/jealous-sweets-slideshow-2.png", width="246" height="" alt="")
			.item
				.image
					a(href="#blog_link") Про продукцію
					img(src="img/products/jealous-sweets-slideshow-2.png", width="246" height="" alt="")
			.item.image
					a(href="#blog_link") Про продукцію
					img(src="img/products/jealous-sweets-slideshow-2.png", width="246" height="" alt="")
			.item
				.image
					a(href="#blog_link") Про продукцію
					img(src="img/products/jealous-sweets-slideshow-2.png", width="246" height="" alt="")
			.item
				.image
					a(href="#blog_link") Про продукцію
					img(src="img/products/jealous-sweets-slideshow-2.png", width="246" height="" alt="")
			.item
				.image
					a(href="#blog_link") Про продукцію
					img(src="img/products/jealous-sweets-slideshow-2.png", width="246" height="" alt="")
			.item
				.image
					a(href="#blog_link") Про продукцію
					img(src="img/products/jealous-sweets-slideshow-2.png", width="246" height="" alt="")
			.item
				.image
					a(href="#blog_link") Про продукцію
					img(src="img/products/jealous-sweets-slideshow-2.png", width="246" height="" alt="")
			.item
				.image
					a(href="#blog_link") Про продукцію
					img(src="img/products/jealous-sweets-slideshow-2.png", width="246" height="" alt="")
			.item
				.image
					a(href="#blog_link") Про продукцію
					img(src="img/products/jealous-sweets-slideshow-2.png", width="246" height="" alt="")
			.item
				.image
					a(href="#blog_link") Про продукцію
					img(src="img/products/jealous-sweets-slideshow-2.png", width="246" height="" alt="")
			.item
				.image
					a(href="#blog_link") Про продукцію
					img(src="img/products/jealous-sweets-slideshow-2.png", width="246" height="" alt="")
			.item
				.image
					a(href="#blog_link") Про продукцію
					img(src="img/products/jealous-sweets-slideshow-2.png", width="246" height="" alt="")
			.item
				.image
					a(href="#blog_link") Про продукцію
					img(src="img/products/jealous-sweets-slideshow-2.png", width="246" height="" alt="")
			.item
				.image
					a(href="#blog_link") Про продукцію
					img(src="img/products/jealous-sweets-slideshow-2.png", width="246" height="" alt="")
			.item
				.image
					a(href="#blog_link") Про продукцію
					img(src="img/products/jealous-sweets-slideshow-2.png", width="246" height="" alt="")
	script(src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js")
	script(src="js/common.js")
	script(src="js/masonry.js")
	script(src="libs/jquery-imagefill.js")
	//- работа ^ этого скрипта мне вообще непонятна
	script(src="libs/imagesloaded.pkgd.min.js")